{% extends "base.html.twig" %}

{% block title %}Kortspel{% endblock %}

{% block body %}
<h1>Kortspel</h1>

<p>Förklarande text kommer. Även ett UML-diagram.</p>

<p>
    <a href="{{ path('card_index') }}">Startsida</a> |
    <a href="{{ path('deck') }}">Sorterad kortlek</a> |
    <a href="{{ path('shuffle') }}">Blanda kortlek</a> |
    <a href="{{ path('draw_single') }}">Dra ett kort</a> |
    <a href="{{ path('draw_get') }}">Dra flera kort</a>
</p>

{% endblock %}