{% extends "base.html.twig" %}

{% block title %}JSON api{% endblock %}

{% block body %}
<h1>JSON api</h1>

<p>.</p>

<p>
    <a href="{{ path('quote') }}">Citat</a> |
    <a href="{{ path('json_deck') }}">Sorterad kortlek</a> |
    <a href="{{ path('json_shuffle') }}">Blanda kortlek</a> |
    <a href="{{ path('json_draw_single') }}">Dra ett kort</a> |
    <a href="{{ path('draw_json_get') }}">Dra flera kort</a>
</p>

{% endblock %}