{% extends "base.html.twig" %}

{% block title %}JSON api{% endblock %}

{% block body %}
<h1>JSON api</h1>

<p class="box">Här finns mina samlade länkar för JSON api.</p>

<p>
    {% if app.session.get('deck') is empty %}
        <p>Du har inget kortspel igång. Klicka på länken för kortspel och välja starta.</p>
    {% else %}
        <a href="{{ path('json_deck') }}">Sorterad kortlek</a> |
        <a href="{{ path('json_shuffle') }}">Blanda kortlek</a> |
        <a href="{{ path('json_draw_single') }}">Dra ett kort</a> |
        <a href="{{ path('draw_json_get') }}">Dra flera kort</a> |
    {% endif %}
    <a href="{{ path('quote') }}">Citat</a>
</p>

{% endblock %}